* {
  padding: 0px;
  margin: 0px;
  font-size: 0.9rem;
  background-color: inherit;
  text-align: center;
}

.btn:hover {
  transform: scale(1.1);
}

.chatarea {
  position: relative;
  min-height: 400px;
  height: 80vh;
}

.infobar {
  background-color: rgb(59, 146, 146);
  height: 10%;
  width: 100%;
  margin: 0px;
  flex-wrap: nowrap;
}

.messages {
  height: 75%;
  width: 100%;
  background-color: #fdfdfd;
  box-shadow: #fdfdfd;
}
.edit {
  height: 8%;
  width: 100%;
}

.emojipicker {
  height: 7%;
  display: flex;
  justify-content: center;
}

.sendbtn {
  width: 100%;
  height: 100%;
}

.emojimart {
  display: inline-flex;
  position: absolute;
  bottom: 5%;
  left: 3px;
}

#btn2 {
  color: burlywood;
}

#btn2:active {
  transform: translateY(3px);
}

.users {
  position: absolute;
  right: 0px;
  top: 10%;
  width: 130px;
}
