.msgbox {
  margin: 8px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
}
.user {
  padding: 3px;
}
.msg {
  border-radius: 3px;
  background-color: rgb(235, 224, 209);
  max-width: 90%;
  padding: 3px;
  word-wrap: break-word;
  max-width: 83%;
}

.justfiyend {
  justify-content: flex-end;
}

.msg-end {
  background-color: lawngreen;
}
