.msgbox {
  margin: 8px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
}
.user {
  margin: 0px;
  margin-right: 3px;
  background-color: lightblue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  text-align: center;
}
.msg {
  border-radius: 3px;
  max-width: 90%;
  padding: 3px;
  word-wrap: break-word;
  max-width: 83%;
  text-align: start;
  min-height: 30px;
}

.justfiyend {
  justify-content: flex-end;
}

.msg-start {
  background-color: rgb(235, 224, 209);
}

.msg-end {
  background-color: rgb(189, 238, 139);
}
